.content-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.logo__text {
  margin: auto;
  font-size: 32px;
  text-align: center;
}

.sources__search {
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  font-size: 32px;
  font-weight: 100;
}

.source {
  margin: 30px 0;
  padding: 20px;
  border-bottom: 1px solid $light-gray;
  display: flex;
  flex-direction: row;
}

.source__left, .source__right {
  flex: 1;
}

.source__countries {
  display: none;
}

.source__languages {
  padding: 0;
}

.source__language {
  display: inline-block;
  margin: 0 3px;
  list-style-type: none;
}

.source__period {
  display: none;
}

.source__sphere {
  display: none;
}

.source__tags {
  padding: 0;
}

.source__tag {
  display: inline-block;
  color: $dark-gray;
  margin: 0 3px;

  &:before {
    content: '#';
  }
}

.source__examples {
  color: $dark-gray;
}

//.menu {
//  width: 25%;
//  padding: 20px;
//  background-color: $darkest-gray;
//}
//
//.menu__list {
//  margin: 0;
//  padding: 0;
//  font-size: 30px;
//  font-weight: 100;
//  letter-spacing: 0.1em;
//  text-transform: uppercase;
//  color: $lightest-gray;
//  list-style-type: none;
//}
//
//.menu__item {
//  margin-bottom: 15px;
//}