.content-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 4% 6%;
}

.logo__pic {
  width: 7%;
  position: fixed;
  left: 20px;
  top: 35px;
  transition: all .1s linear;

  @include tablet {
    display: none;
  }

  &:hover {
    transform: rotate(360deg);
  }

}

.logo__text {
  margin: auto;
  font-size: 32px;
  text-align: center;
}

.sources__search {
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  font-size: 32px;
  font-weight: 100;
}

.controls__control {
  display: inline-block;
  margin-right: 30px;
  border-bottom: 1px dashed $dark-gray;
  cursor: pointer;
}

.source {
  margin: 30px 0;
  border-bottom: 1px solid $light-gray;
  display: flex;
  flex-direction: row;

  @include tablet {
    flex-direction: column;
  }

}

.source__left, .source__right {
  flex: 1;
  // display: flex;
  // flex-direction: column;
}

.source__right {
  margin-left: 50px;
  padding-left: 15px;
  // display: flex;
  // flex-direction: column;

  @include tablet {
    margin-left: 0;
  }
}

.source__header{
  display: inline-block;
}

.source__countries {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0;
  vertical-align: calc;
  list-style-type: none;
}

.source__country {
  display: inline-block;
  margin: 0 3px;
}

.source__flag {
  width: 18px;
}

.source__link {
  display: block;
}

.source__period {
  display: none;
}

.source__sphere {
  display: none;
}

.source__tags {
  padding: 0;
}

.source__tag {
  display: inline-block;
  color: $dark-gray;
  color: $barn-color;
  margin: 0 3px;

  &:before {
    content: '#';
  }
}

.source__examples {
  color: $dark-gray;
  padding: 0;
}

.examples__label {
  margin: 0;
}

.source__example {
  list-style-type: none;

  &:before {
    padding-right: 10px;
    content: '•';
    // color: $barn-color;
  }
}

.popup-window {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &_active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.popup-window__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .25);
}

.popup-window__content {
  width: 80vw;
  min-height: 80vh;
  z-index: 10;
  padding: 5vh 5vw;
  background-color: $lightest-gray;

  @include tablet {
    font-size: 12px;
  }

}

.popup-window__input {
  width: 100%;
  margin-bottom: 20px;
}

.popup-window__textarea {
  width: 100%;
  height: 25vh;
  margin-bottom: 20px;
  resize: none;
  padding: 5px;
}