$lightest-gray: #fafafa;
$light-gray: #a8a6a6;
$dark-gray: #767676;
$darkest-gray: #424242;

$barn-color: rgb(148, 54, 40);

body {
  font-family: 'PT Sans', 'Helvetica Neue', Tahoma, sans-serif;
  background-color: $lightest-gray;
  color: $darkest-gray;
}

body * {
  box-sizing: border-box;
}

a {
    color: $barn-color;
}