extends ../template

block variables
    - var title = "Главная страница"

block content

    .content-wrapper

        .left-pane
            .logo Open Data Sources
            input.sources__search(type="search" placeholder="Find sources" autofocus)
            .sources

        //aside.menu
        //    nav
        //        ul.menu__list
        //            li.menu__item.menu__advanced-search
        //            li.menu__item.menu__ad-source
        //            li.menu__item.menu__about
        //            li.menu__item.menu__contact-us
        //            li.menu__item.menu__login