extends ../template

block variables
    - var title = "Open Data & Statistics - Открытые данные и статистика"

block content

    .content-wrapper

        .logo
            .logo__text
        input.sources__search(type="search" placeholder="Search..." autofocus)
        .sources

        //aside.menu
        //    nav
        //        ul.menu__list
        //            li.menu__item.menu__advanced-search
        //            li.menu__item.menu__ad-source
        //            li.menu__item.menu__about
        //            li.menu__item.menu__contact-us
        //            li.menu__item.menu__login