extends ../template

block variables
    - var title = "DataBarn — Open Data Sources"
    - var desciption = "A full barn of open data. We gather links to information sources, including official statistics, economic data and demographic indicators."

block content

    .content-wrapper

        .logo
            a(href='#')
                img.logo__pic(src='./i/databarn.png' title="DataBarn logo" alt="DataBarn logo")
            h1.logo__text Open Data & Statistics<sup>&#946;</sup>
        .controls
            input.sources__search(type="search" placeholder="Search..." autofocus)
            span.controls__control.controls__control_add-source Add source
            span.controls__control.controls__control_about About us
        .sources

    .popup-window.popup-window_add-source
        .popup-window__content
            h2.popup-window__header.popup-window__header_add-source Add open data source
            p.popup-window__text.popup-window__text_add-source Help us to improve DataBarn list — share your source with community.
            form.popup-window__form.popup-window__form_add-source(action="add-source")
                input.popup-window__input.popup-window__input_add-source-url(name="source-url" placeholder="https://awesomedata.com" required)
                p.popup-window__text.popup-window__text_describe-source Please describe your source. The more details you provide — the sooner we will add your source to the list. Things worth to specify are source name; data description and period; languages and type of files in source; relevant countries, spheres and industries; examples.
                textarea.popup-window__textarea.popup-window__input_add-source-description(name="source-description" placeholder="Source description goes here")
                input.popup-window__button(type="submit" value="Send")
        .popup-window__background
    .popup-window.popup-window_about
        .popup-window__content.popup-window__content_about
            h2.popup-window__header.popup-window__header_about About
            p.popup-window__text.popup-window__text_about-1 DataBarn is a list of open data sources. We gather links to websites, describe them and power with search, which helps you to find the relevant data.
            p.popup-window__text.popup-window__text_about-2 Our users are analysts, journalists, students, investigators, scientists and other people interested in working with data. Send your ideas and suggestions via form below or by email (datasite at yandex dot ru).
            form.popup-window__form.popup-window__form_contact-us(action="contact-us")
                textarea.popup-window__textarea.popup-window__input_contact-us(name="message" placeholder="What's on your mind? Don't forget to include your contacts in message so we could respond!")
                input.popup-window__button(type="submit" value="Send")
        .popup-window__background